@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans:wght@600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  height: 100vh;
}

footer {
  background-color: #c9b3ec;
  color: white;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
}

.form-group {
  text-align: center;
}

.form-control {
  text-align: center;
}

h3 {
  color: grey;
}

.home {
  height: 100vh;
}

.login,
.image {
  min-height: 100vh;
  background-color: #EAE3EC;
}

.bg-image {
  background-image: url("../src/assets/login.jpeg");
  background-size: cover;
  background-position: center center;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
